.FindUser{
    margin-top: 3px;
    margin-left: 3px;
}
.P{
    font-weight: bold;
}
.Loading{
    border-radius: 5px;
    text-align: center;
}

.ImgBack{
    transform: scale(-1, 1)
}
.Loading img{
    height: 160px;
}
.DivB{
    text-align: center;
}