.FindUser{
    margin-top: 3px;
    margin-left: 3px;
}
.P{
    font-weight: bold;
}
.Button{
    background-color: burlywood;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
}
.DivB{
    text-align: center;
}