.NewPost{
    border: antiquewhite;
    border-style: dotted;
    display: grid;
    grid-template:
    "t b" ;
    grid-template-columns: auto 150px;
}

.NewPost textarea{
    grid-area: t;
}
.NewPost botton{
    grid-area: b;
}