.NavBar{
    grid-area: n;
    margin-top: 3px;
    background: burlywood;
    border-radius: 5px;
}
.Menu{
    padding: 20px;
}
.Menu div{
    margin-left: 5px;
}
.Menu a{
    color: azure;
    text-decoration: none;
}
.Menu a.ActiveLink{
    color: black;
}
