.NavBar{
    padding: 20px;
    margin-top: 3px;
    background: burlywood;
    grid-area: n;
    border-radius: 5px;
}
.NavBar div{
    margin-left: 5px;
}
.NavBar a{
    color: azure;
    text-decoration: none;
}
.NavBar a.ActiveLink{
    color: black;
}
