.app-wraper{

  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 10fr;
  /*grid-gap: 10px;*/
}


Header{
  grid-area: h;
}
Nav {
  grid-area: n;
}
ProfileContent {
  grid-area: c;
}



